<p>signup works!</p>
<div class="container col-6">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control"
      [value]="newUser.name"
      />
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" id="age" class="form-control"
      [value]="newUser.age"
      >
    </div>
    <div class="form-group">
      <label for="phone">Password</label>
      <input type="text" id="phone" class="form-control"
      [value]="newUser.password"
      >
    </div>
    <div class="form-group">
      <label for="avatarUrl">Avatar url</label>
      <input type="text" id="avatarUrl" class="form-control"
      [value]="newUser.avatar"
      >
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
