<hr />
<table class="table table-warning">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.status ? "Còn hàng" : "Hết hàng" }}</td>
      <td>
        <button class="btn btn-danger" (click)="onRemoveItem(product.id!)">
          Delete
        </button>
        <button class="btn btn-success ms-1" routerLink="/product/edit/{{product.id}}">
          Edit
        </button>
        <button class="btn btn-primary ms-1" routerLink="/product/{{product.id}}">
          Infor
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <div class="detail" *ngIf="productDetail">
  <hr />
  <app-product-detail [product]="productDetail"></app-product-detail>
  <router-outlet></router-outlet>
  {{productDetail.name}}
</div> -->
